@model AdminContentIndexViewModel
@{
    ViewData["Title"] = $"لیست {Model.ContentTypeTitle} ({Model.LangTitle})";

    string get_index_url(string langCode) => Url.Action(ContentController.Action_Index, new
    {
        langCode,
        contentTypeName = Model.ContentTypeName 
    })!;

    string get_new_url(string langCode) => Url.Action(ContentController.Action_New, new
    {
        langCode, 
        contentTypeName = Model.ContentTypeName
    })!;

    string get_edit_url(Guid id) => Url.Action(ContentController.Action_Edit, new { id })!;

    string get_delete_url(Guid id) => Url.Action(ContentController.ACTION_Delete, new { id })!;

    string get_status_icon(ContentStatusEnum status) => 
        status switch
        {
            ContentStatusEnum.Deleted => "x-square",
            ContentStatusEnum.Draft => "edit-3",
            ContentStatusEnum.Planned => "calendar",
            ContentStatusEnum.Published => "pocket",
            _ => ""
        };
    
}


    <h2 class="intro-y text-lg font-medium ml-auto" style="padding-top: 20px;">
        @ViewData["Title"]
    </h2>
    
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
            <a href="@get_new_url(Model.LangCode)" class="btn btn-primary shadow-md ml-2">
                <i class="w-4 h-4 ml-2" data-feather="plus"></i> افزودن نوشته جدید
            </a>
            <div class="dropdown">
                <button class="dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300" aria-expanded="false">
                    <span class="w-5 h-5 flex items-center justify-center">
                         <i class="w-4 h-4" data-feather="file-text"></i> @Model.LangTitle
                    </span>
                </button>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        @if (Model.LangCode == PersianLanguage.Code)
                        {
                            <a href="@get_index_url(EnglishLanguage.Code)" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
                                <i data-feather="activity" class="w-4 h-4 ml-2"></i> 
                                <span class="truncate">@EnglishLanguage.Title</span>
                            </a>
                        }
                        else if (Model.LangCode == EnglishLanguage.Code)
                        {
                            <a href="@get_index_url(PersianLanguage.Code)" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
                                <i data-feather="activity" class="w-4 h-4 ml-2"></i> 
                                <span class="truncate">@PersianLanguage.Title</span>
                            </a>
                        }
                    </div>
                </div>
             </div>
            <div class="dropdown" style="padding-right: 10px;">
                <button class="dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300" aria-expanded="false">
                    <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
                </button>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="printer" class="w-4 h-4 ml-2"></i>پرینت</a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="file-text" class="w-4 h-4 ml-2"></i> خروجی اکسل </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="file-text" class="w-4 h-4 ml-2"></i> خروجی پی‌دی‌اف</a>
                    </div>
                </div>
            </div>
            <div class="hidden md:block mx-auto text-gray-600">نمایش 1 تا 10 از 150 داده</div>
            <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:mr-auto md:mr-0">
                <div class="w-56 relative text-gray-700 dark:text-gray-300">
                    <input type="text" class="form-control w-56 box pl-10 placeholder-theme-13" placeholder="جستجو...">
                    <i class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0" data-feather="search"></i> 
                </div>
            </div>
        </div>
        
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            @if (Model.Data.Any())
            {
                <table class="table table-report -mt-2">
                    <thead>
                    <tr>
                        <th class="whitespace-nowrap">
                            عنوان
                        </th>
                        <th class="whitespace-nowrap">
                            وضعیت
                        </th>
                        <th class="text-center whitespace-nowrap">
                            نویسنده
                        </th>
                        <th class="text-center whitespace-nowrap">
                            دسته بندی
                        </th>
                        <th class="text-center whitespace-nowrap">
                            تاریخ ایجاد
                        </th>
                        <th class="text-center whitespace-nowrap">
                            <i class="feather feather-tool"></i>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var post in Model.Data)
                    {
                        <tr class="intro-x">
                            <td>
                                <a href="@get_edit_url(post.Id)" class="font-medium">
                                    @post.Title
                                </a> 
                                <div class="text-gray-600 text-xs mt-0.5">
                                    @post.Summary
                                </div>
                            </td>
                            <td class="w-40">
                                <div class="flex items-center justify-center text-theme-21">
                                    <i data-feather="@get_status_icon(post.Status)" class="w-4 h-4 ml-2"></i>  
                                    @post.StatusDisplay
                                </div>
                            </td>
                            <td class="text-center">
                                <span>@post.AuthorUserDisplayName</span>
                            </td>
                            <td class="text-center">
                                دسته بندی
                            </td>
                            <td class="text-center">
                                <span>@post.CreateDateDisplay </span>
                            </td>
                            <td class="table-report__action w-56">
                                <div class="flex justify-center items-center">
                                    <a class="flex items-center ml-3" href="javascript:;"> <i data-feather="check-square" class="w-4 h-4 ml-1"></i> ویرایش</a>
                                    <a class="flex items-center text-theme-21" href="javascript:;" data-toggle="modal" data-target="#delete-confirmation-modal"> <i data-feather="trash-2" class="w-4 h-4 ml-1"></i> حذف </a>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <div class="preview">
                    <div class="alert alert-primary alert-dismissible show flex items-center mb-2" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle w-6 h-6 ml-2"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                        داده ای برای نمایش وجود ندارد.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> </button>
                    </div>
                </div>
            }
            
        </div>
        
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
            <ul class="pagination">
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevrons-right"></i> </a>
                </li>
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevron-right"></i> </a>
                </li>
                <li> <a class="pagination__link" href="">...</a> </li>
                <li> <a class="pagination__link" href="">1</a> </li>
                <li> <a class="pagination__link pagination__link--active" href="">2</a> </li>
                <li> <a class="pagination__link" href="">3</a> </li>
                <li> <a class="pagination__link" href="">...</a> </li>
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevron-left"></i> </a>
                </li>
                <li>
                    <a class="pagination__link" href=""> <i class="w-4 h-4" data-feather="chevrons-left"></i> </a>
                </li>
            </ul>
            <select class="w-20 form-select box mt-3 sm:mt-0">
                <option>10</option>
                <option>25</option>
                <option>35</option>
                <option>50</option>
            </select>
        </div>
    </div>

@section breadCrumb {
    <div class="-intro-x breadcrumb breadcrumb--light ml-auto">
        <a href="#">خانه</a> 
        <i data-feather="chevron-left" class="breadcrumb__icon"></i> 
        <a asp-controller="@ContentController.Name" asp-action="@ContentController.Action_New" 
           asp-route-lang="@Model.LangCode" asp-route-contentTypeName="@Model.ContentTypeName"
           class="breadcrumb--active">
            @Model.ContentTypeTitle
        </a>
        <i data-feather="chevron-left" class="breadcrumb__icon"></i> 
        <a href="#" class="breadcrumb--active">لیست</a>
    </div>
}
