@model CreateContentViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "نوشته جدید - " + Model.ContentTypeTitle;
}

<form id="my-form" asp-area="@WebsiteAreaNames.Admin"
      asp-controller="Content" asp-action="New"
      method="post" asp-antiforgery="true">
    
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">

        <input type="hidden" asp-for="LangId"/>
        <input type="hidden" asp-for="LangCode"/>
        <input type="hidden" asp-for="LangTitle"/>
        <input type="hidden" asp-for="ContentTypeId"/>
        <input type="hidden" asp-for="ContentTypeName"/>
        <input type="hidden" asp-for="ContentTypeTitle"/>

        <h2 class="text-lg font-medium ml-auto">
            @ViewData["Title"]
        </h2>
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
            <div class="dropdown ml-2">
                <button class="dropdown-toggle btn box text-gray-700 dark:text-gray-300 flex items-center" aria-expanded="false"> انگلیسی <i class="w-4 h-4 mr-2" data-feather="chevron-down"></i> </button>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="activity" class="w-4 h-4 ml-2"></i> <span class="truncate">انگلیسی</span> </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="activity" class="w-4 h-4 ml-2"></i> <span class="truncate">اندونیزایی</span> </a>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn box text-gray-700 dark:text-gray-300 mr-2 flex items-center mr-auto sm:mr-0"> <i class="w-4 h-4 ml-2" data-feather="eye"></i> ارسال </button>
            <div class="dropdown">
                <button class=" mr-2 dropdown-toggle btn btn-primary shadow-md flex items-center" aria-expanded="false"> ذخیره<i class="w-4 h-4 mr-2" data-feather="chevron-down"></i> </button>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
                            <i data-feather="file-text" class="w-4 h-4 ml-2"></i> ذخیره پیش نویس
                        </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
                            <i data-feather="file-text" class="w-4 h-4 ml-2"></i>ذخیره و بازگشت
                        </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
                            <i data-feather="file-text" class="w-4 h-4 ml-2"></i> ذخیره و جدید
                        </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md">
                            <i data-feather="file-text" class="w-4 h-4 ml-2"></i>ذخیره و انتشار
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pos intro-y grid grid-cols-12 gap-5 mt-5">
        <div class="intro-y col-span-12 lg:col-span-8">
            <div class="mt-3">
                <input type="text" asp-for="Title" class="intro-y form-control py-3 px-4 box pl-10 placeholder-theme-8" placeholder="عنوان نوشته">
                <span asp-validation-for="Title"></span>
            </div>
            <div class="mt-3">
                <input type="text" asp-for="Slug" placeholder="نامک نوشته در آدرس بار" style="direction: ltr;" class="intro-y form-control py-3 px-4 box pl-10 placeholder-theme-8"/>
                <span asp-validation-for="Slug"></span>
            </div>
            <div class="post intro-y overflow-hidden box mt-5">
                <div class="post__tabs nav nav-tabs flex-col sm:flex-row bg-gray-300 dark:bg-dark-2 text-gray-600" role="tablist">
                    <a title="Fill in the article content" data-toggle="tab" data-target="#content" href="javascript:;" class="tooltip w-full sm:w-40 py-4 text-center flex justify-center items-center active" id="content-tab" role="tab" aria-controls="content" aria-selected="true"> <i data-feather="file-text" class="w-4 h-4 ml-2"></i> محتوا </a>
                    <a title="Adjust the meta title" data-toggle="tab" data-target="#meta-title" href="javascript:;" class="tooltip w-full sm:w-40 py-4 text-center flex justify-center items-center" id="meta-title-tab" role="tab" aria-selected="false"> <i data-feather="code" class="w-4 h-4 ml-2"></i> عنوان متا</a>
                    <a title="Use search keywords" data-toggle="tab" data-target="#keywords" href="javascript:;" class="tooltip w-full sm:w-40 py-4 text-center flex justify-center items-center" id="keywords-tab" role="tab" aria-selected="false"> <i data-feather="align-left" class="w-4 h-4 ml-2"></i> کلیدواژه </a>
                </div>
                <div class="post__content tab-content">
                    <div id="content" class="tab-pane p-5 active" role="tabpanel" aria-labelledby="content-tab">
                        <div class="border border-gray-200 dark:border-dark-5 rounded-md p-5">
                            <div class="font-medium flex items-center border-b border-gray-200 dark:border-dark-5 pb-5"> <i data-feather="chevron-down" class="w-4 h-4 ml-2"></i> نوشته </div>
                            <div class="mt-5">
                                <div class="editor">

                                </div>
                            </div>
                        </div>
                        <div class="border border-gray-200 dark:border-dark-5 rounded-md p-5 mt-5">
                            <div class="font-medium flex items-center border-b border-gray-200 dark:border-dark-5 pb-5">
                                <i data-feather="chevron-down" class="w-4 h-4 ml-2"></i> درباره نوشته
                            </div>
                            <div class="mt-5">
                                <div class="mt-3">
                                    <label asp-for="AltTitle" class="form-label">عنوان جایگزین</label>
                                    <input asp-for="AltTitle" type="text" class="form-control" placeholder="عنوان جایگزین نوشته">
                                </div>
                                <div class="mt-3">
                                    <label asp-for="Summary">خلاصه نوشته</label>
                                    <textarea asp-for="Summary" class="form-control" rows="6" style="min-height: 100px;"></textarea>
                                    <span asp-validation-for="Summary"></span>
                                </div>
                            </div>
                        </div>
                        <div class="border border-gray-200 dark:border-dark-5 rounded-md p-5 mt-5">
                            <div class="font-medium flex items-center border-b border-gray-200 dark:border-dark-5 pb-5">
                                <i data-feather="chevron-down" class="w-4 h-4 ml-2"></i> تصاویر
                            </div>

                            <div>

                            </div>

                            <div class="mt-5">

                                <div class="mt-3">
                                    <label class="form-label">آپلود تصویر</label>
                                    <div class="border-2 border-dashed dark:border-dark-5 rounded-md pt-4">
                                        <div class="flex flex-wrap px-4">
                                            <div class="w-24 h-24 relative image-fit mb-5 ml-5 cursor-pointer zoom-in">
                                                <img class="rounded-md" alt="Tinker Tailwind HTML Admin Template" src="~/behlog/images/preview-4.jpg">
                                                <div title="حذف تصویر؟" class="tooltip w-5 h-5 flex items-center justify-center absolute rounded-full text-white bg-theme-21 left-0 top-0 -ml-2 -mt-2"> <i data-feather="x" class="w-4 h-4"></i> </div>
                                            </div>
                                            <div class="w-24 h-24 relative image-fit mb-5 ml-5 cursor-pointer zoom-in">
                                                <img class="rounded-md" alt="Tinker Tailwind HTML Admin Template" src="~/behlog/images/preview-13.jpg">
                                                <div title="حذف تصویر؟" class="tooltip w-5 h-5 flex items-center justify-center absolute rounded-full text-white bg-theme-21 left-0 top-0 -ml-2 -mt-2"> <i data-feather="x" class="w-4 h-4"></i> </div>
                                            </div>
                                            <div class="w-24 h-24 relative image-fit mb-5 ml-5 cursor-pointer zoom-in">
                                                <img class="rounded-md" alt="Tinker Tailwind HTML Admin Template" src="~/behlog/images/preview-3.jpg">
                                                <div title="حذف تصویر؟" class="tooltip w-5 h-5 flex items-center justify-center absolute rounded-full text-white bg-theme-21 left-0 top-0 -ml-2 -mt-2"> <i data-feather="x" class="w-4 h-4"></i> </div>
                                            </div>
                                            <div class="w-24 h-24 relative image-fit mb-5 ml-5 cursor-pointer zoom-in">
                                                <img class="rounded-md" alt="Tinker Tailwind HTML Admin Template" src="~/behlog/images/preview-7.jpg">
                                                <div title="حذف تصویر؟" class="tooltip w-5 h-5 flex items-center justify-center absolute rounded-full text-white bg-theme-21 left-0 top-0 -ml-2 -mt-2"> <i data-feather="x" class="w-4 h-4"></i> </div>
                                            </div>
                                        </div>
                                        <div class="px-4 pb-4 flex items-center cursor-pointer relative ">
                                            <i data-feather="image" class="w-4 h-4 ml-2"></i> <span class="text-theme-25 dark:text-theme-10 ml-1"> فایل را آپلود کنید </span> یا بکشید و بیاندازید
                                            <input type="file" class="w-full h-full top-0 left-0 absolute opacity-0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-12 lg:col-span-4">
            <div class="intro-y box p-5">
                <div class="mt-3">
                    <label asp-for="PublishDateValue" class="form-label">تاریخ انتشار</label>
                    <input type="text" asp-for="PublishDateValue" data-jdp class="form-control" data-jdp-only-date readonly="readonly">
                </div>
                <div class="mt-3">
                    <label asp-for="PublishTimeValue" class="form-label">زمان انتشار</label>
                    <input type="text" asp-for="PublishTimeValue" data-jdp class="form-control" data-jdp-only-time readonly="readonly">
                </div>
                <div class="mt-3">
                    <label for="post-form-3" class="form-label">دسته‌بندی</label>
                    <select asp-for="Categories" asp-items="Model.CategorySelect" data-placeholder="انتخاب دسته بندی ها" class="tail-select w-full" id="post-form-3" multiple>
                    </select>
                </div>
                <div class="mt-3">
                    <label for="post-form-4" class="form-label">برچسب ها</label>
                    <select asp-for="Tags" asp-items="Model.TagSelect" data-placeholder="برچسب های نوشته" class="tail-select w-full" id="post-form-4" multiple>
                    </select>
                </div>
                <div class="form-check flex-col items-start mt-3">
                    <label for="post-form-5" class="form-check-label ml-0 mb-2">منتشرشده</label>
                    <input id="post-form-5" class="form-check-switch" type="checkbox">
                </div>
            </div>
        </div>
    </div>
</form>



@section header
{
    <link rel="stylesheet" href="~/behlog/lib/datepicker/jalalidatepicker.min.css">
}

@section breadCrumb {
    <div class="-intro-x breadcrumb breadcrumb--light ml-auto">
        <a href="#">خانه</a> 
        <i data-feather="chevron-left" class="breadcrumb__icon"></i> 
        <a asp-controller="@ContentController.Name" asp-action="@ContentController.Action_New" 
            asp-route-lang="@Model.LangCode" asp-route-contentTypeName="@Model.ContentTypeName"
            class="breadcrumb--active">
            @Model.ContentTypeTitle
        </a>
        <i data-feather="chevron-left" class="breadcrumb__icon"></i> 
        <a href="#" class="breadcrumb--active">جدید</a>
    </div>
}

@section footer
{
    <script type="text/javascript" src="~/behlog/lib/datepicker/jalalidatepicker.min.js"></script>

    <script type="text/javascript">
        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr",
            time:true
        }); 
    </script>
}
