@model CreateContentViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "نوشته جدید - " + Model.ContentTypeTitle;
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left pr-1">
                    @ViewData["Title"]
                </h5>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index" asp-area="@WebsiteAreaNames.Admin"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Content" asp-action="Index"
                               asp-route-lang="@Model.LangCode" asp-route-contentType="@Model.ContentTypeName" 
                               asp-area="Admin">
                                @Model.ContentTypeTitle
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section>
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    @if (Model.HasError) {
                        <div class="alert alert-danger" role="alert">
                            <a href="#" class="close" data-dismiss="alert">×</a>
                            @Html.Raw(Model.ErrorMessages)
                        </div>
                    }
                    <form id="my-form" asp-controller="Content" asp-action="New" 
                          method="post" class="material-form" asp-antiforgery="true">
                        <input type="hidden" asp-for="LangId" />
                        <input type="hidden" asp-for="LangCode" />
                        <input type="hidden" asp-for="LangTitle" />
                        <input type="hidden" asp-for="ContentTypeId" />
                        <input type="hidden" asp-for="ContentTypeName "/>
                        <input type="hidden" asp-for="ContentTypeTitle" />
                        
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <input asp-for="Title" class="form-control" placeholder="عنوان نوشته"/>
                                    <label asp-for="Title" class="control-label">عنوان</label><i class="bar"></i>
                                    <span asp-validation-for="Title"></span>
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <input asp-for="Slug" class="form-control" placeholder="برای URL نوشته"/>
                                    <label asp-for="Slug" class="form-label">نامک</label>
                                    <span asp-validation-for="Slug"></span>
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <input asp-for="AltTitle" class="form-control" placeholder="عنوان جایگزین"/>
                                    <label asp-for="AltTitle" class="form-label">عنوان جاگزین</label>
                                    <span asp-validation-for="AltTitle"></span>
                                </div>
                            </div>

                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <textarea asp-for="Summary" rows="4"></textarea>
                                    <label asp-for="Summary"></label>
                                    <span asp-validation-for="Summary"></span>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    <textarea asp-for="Body" rows="10"></textarea>
                                    <label asp-for="Body"></label>
                                    <span asp-validation-for="Body"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-12 col-12">
                                <div class="form-group">
                                    
                                </div>
                            </div>

                            <div class="col-12 d-flex justify-content-start pt-1">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">ارسال</button>
                                <a asp-controller="Content" asp-action="Index" class="btn btn-light-secondary mr-1 mb-1">بازگشت</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>