@model AdminContentCategoryIndexWithTreeViewModel
@{
    ViewData["Title"] = "لیست دسته بندی های " + Model.ContentTypeTitle;

    string get_flag(string langCode)
    {
        if (langCode.ToLower() == "fa")
            return "ir";
        return "us";
    }
}

<div class="content content--top-nav ">
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium ml-auto">
            @ViewData["Title"]
        </h2>
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
            <button class="btn btn-primary shadow-md ml-2">
                دسته بندی جدید
            </button>
            <div class="dropdown mr-auto sm:mr-0">
                <button class="dropdown-toggle btn px-2 box text-gray-700 dark:text-gray-300" aria-expanded="false">
                    <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
                </button>
                <div class="dropdown-menu w-40">
                    <div class="dropdown-menu__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="file-plus" class="w-4 h-4 ml-2"></i> دسته بندی جدید </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="users" class="w-4 h-4 ml-2"></i>گروه جدید </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="intro-y box p-5 mt-5">
        <ul class="flex">
            <li class="flex flex-col relative text-center space-y-3">
                <div class="bg-blue-100 rounded-lg p-3">COMPANY</div>
              <ul class="flex space-x-3">
                <li class="flex flex-col relative space-y-3">
                <div class="bg-teal-300 rounded-lg p-2">Sales Department</div>
                  <ul class="flex space-x-3">
                    <li class="flex flex-col relative">
                              <div class="bg-teal-300 rounded-lg p-2">Sub Sales A</div>
                    </li>
                    <li class="flex flex-col relative">
                    <div class="bg-teal-300 rounded-lg p-2">Sub Sales B</div>
                    </li>
                                <li class="flex flex-col relative">
                    <div class="bg-teal-300 rounded-lg p-2">Sub Sales B</div>
                    </li>
                  </ul>
                </li>
                <li class="flex flex-col relative space-y-3">
                                        <div class="bg-teal-300 rounded-lg">Purchase Dept</div>
                                                  <ul class="flex space-x-3">
                    <li class="flex flex-col relative">
                              <div class="bg-teal-300 rounded-lg p-2">Sub Sales A</div>
                    </li>
                    <li class="flex flex-col relative">
                    <div class="bg-teal-300 rounded-lg p-2">Sub Sales B</div>
                    </li>
                                <li class="flex flex-col relative">
                    <div class="bg-teal-300 rounded-lg p-2">Sub Sales B</div>
                    </li>
                  </ul>
        
                </li>
                <li class="flex flex-col relative space-y-3">
                              <div class="bg-orange-300 rounded-lg">Controlling</div>
                  <ul class="flex">
                    <li class="flex flex-col relative">
                                            <div class="bg-orange-200 rounded-lg">Sub-Controlling</div>
                    </li>
                                <li class="flex flex-col relative">
                                            <div class="bg-orange-200 rounded-lg">Sub-Controlling</div>
                    </li>
        
                    <li class="flex flex-col relative">
                                            <div class="bg-orange-200 rounded-lg">Sub-Controlling</div>
                    </li>
        
                    <li class="flex flex-col relative">
                                            <div class="bg-orange-200 rounded-lg">Sub-Controlling</div>
                    </li>
        
                    <li class="flex flex-col relative">
                                            <div class="bg-orange-200 rounded-lg">Sub-Controlling</div>
                    </li>
        
                    <li class="flex flex-col relative">
                                            <div class="bg-orange-200 rounded-lg">Sub-Controlling with a big ass text</div>
                    </li>
        
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
    </div>
    
</div>

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index" asp-area="@WebsiteAreaNames.Admin">
                                <i class="bx bx-home-alt"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="list">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    @ViewData["Title"]
                </h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row navbar-container navbar-collapse">
                        <div class="btn-group bookmark-icons mr-auto float-left" role="group">
                            <a class="btn btn-icon btn-outline-primary" 
                               asp-controller="@ContentCategoryController.Name"
                               asp-action="New"
                               asp-route-contentTypeName="@Model.ContentTypeName"
                               asp-route-langCode="@Model.LangCode">
                                <i class="bx bx-plus-circle"></i>
                            </a>
                            <a id="btn_edit" class="btn btn-icon btn-outline-primary disabled" href="#">
                                <i class="bx bx-edit"></i>
                            </a>
                            <a id="btn_remove" class="btn btn-icon btn-outline-primary disabled">
                                <i class="bx bx-x-circle"></i>
                            </a>
                        </div>
                        <div class="">
                            <ul class="nav navbar-nav float-right">
                                <li class="dropdown dropdown-language nav-item">
                                    <a class="dropdown-toggle nav-link" id="dropdown-flag-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="flag-icon flag-icon-@get_flag(Model.LangCode) mr-50"></i>
                                        <span class="selected-language">
                                            @Model.LangTitle
                                        </span>
                                    </a>
                                    <div class="dropdown-menu">
                                        @if (Model.LangCode == "fa")
                                        {
                                            <a class="dropdown-item" asp-controller="@ContentCategoryController.Name"
                                               asp-action="Index" asp-route-contentTypeName="@Model.ContentTypeName"
                                               asp-route-langCode="en">
                                                <i class="flag-icon flag-icon-@get_flag("en") mr-50"></i>
                                                <span>انگلیسی</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" asp-controller="@ContentCategoryController.Name"
                                               asp-action="Index" asp-route-contentTypeName="@Model.ContentTypeName"
                                               asp-route-langCode="fa">
                                                <i class="flag-icon flag-icon-@get_flag("fa") mr-50"></i>
                                                <span>فارسی</span>
                                            </a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div id="treeView" style="padding-top: 25px; max-width: 450px; overflow-y: auto;">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section header {
    <link rel="stylesheet" type="text/css" href="~/behlog/css/treeview.css">
}

@section footer {
    <script src="~/behlog/js/bootstrap-treeview.min.js" type="text/javascript"></script>
    <script src="~/behlog/js/ext-component-treeview.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() { 
            var $primary = '#5A8DEE'
            var treeData = '@Html.Raw(Json.Serialize(Model.Items))'
            $('#treeView').treeview({
                selectedBackColor: [$primary],
                color: [$primary],
                expandIcon: 'bx bx-chevron-left',
                collapseIcon: 'bx bx-chevron-down',
                data: treeData,
                onNodeSelected: function(event, node) {
                    $('#btn_remove').removeClass('disabled');
                    $('#btn_edit').removeClass('disabled');
                    edit_url = '@Url.Action("Edit")' + '/' + node.id;
                    $('#btn_edit').attr('href', edit_url);
                    $('#btn_remove').attr('href', edit_url);
                }
            });
        });
    </script>
}