@model AdminContentCategoryIndexViewModel
@{
    ViewData["Title"] = "لیست دسته بندی های " + Model.ContentTypeTitle;
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h5 class="content-header-title float-left pr-1">
                    ویرایش
                </h5>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index" asp-area="@WebsiteAreaNames.Admin"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Content" asp-action="Index"
                               asp-route-lang="@Model.LangCode" asp-route-contentType="@Model.ContentTypeName"
                               asp-area="Admin">
                                لیست دسته بندی ها @Model.ContentTypeTitle
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            @ViewData["Title"]
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="list">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    @ViewData["Title"]
                </h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item current">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" aria-controls="home" role="tab" aria-selected="true">
                                <i class="bx bx-home align-middle"></i>
                                <span class="align-middle">خانه</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>